/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

body {
	background: rgb(196, 184, 255);
	background: radial-gradient(
		circle,
		rgba(196, 184, 255, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

body .container {
	max-width: 1100px;
}

.card img[src=""] {
	display: none;
}

.card img[src=""] + .card-body {
	display: none;
}

#filter-buttons button {
	border-radius: 3px;
	background: #fff;
	border-color: transparent;
}

#filter-buttons button:hover {
	background: #ddd;
}

#filter-buttons button.active {
	color: #fff;
	background: #335775;
}

#filterable-cards .card {
	width: 15rem;
	border: 2px solid transparent;
}

#filterable-cards .card.hide {
	display: none;
}

@media (max-width: 600px) {
	#filterable-cards {
		justify-content: center;
	}

	#filterable-cards .card {
		width: calc(100% / 2 - 10px);
	}
}

/* About Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.about-us {
	height: 100vh;
	width: 100%;
	padding: 90px 0;
	background: #ddd;
}
.pic {
	height: auto;
	width: 302px;
}
.about {
	width: 1130px;
	max-width: 85%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.text {
	width: 540px;
}
.text h2 {
	font-size: 90px;
	font-weight: 600;
	margin-bottom: 10px;
}
.text h5 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 20px;
}
span {
	color: #4070f4;
}
.text p {
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 1px;
}
.data {
	margin-top: 30px;
}
.hire {
	font-size: 18px;
	background: #4070f4;
	color: #fff;
	text-decoration: none;
	border: none;
	padding: 8px 25px;
	border-radius: 6px;
	transition: 0.5s;
}
.hire:hover {
	background: #000;
	border: 1px solid #4070f4;
}
